body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
  font-family: "Rowdies", sans-serif;
  font-family: "Rubik Scribble", system-ui;
  font-family: "Roboto", sans-serif;
  font-family: "Righteous", sans-serif;
  font-family: "Rakkas", serif;
  font-family: "Quintessential", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "PT Sans Caption", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Lilita One", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Josefin Slab", serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Itim", cursive;
  font-family: "Concert One", sans-serif;
  font-family: "Carter One", system-ui;
  font-family: "Butterfly Kids", cursive;
  font-family: "Archivo Black", sans-serif;
  font-family: "Anton", sans-serif;
  font-family: "Amaranth", sans-serif;
  font-family: "Acme", sans-serif;
*/
